</div> <!-- /container -->
<div id="noie">
  <div>
    <h1>Your browser is out of date.</h1>
    <h2><a href="http://chrome.com">Why not try Chrome?</a></h2>
  </div>
</div>
<div id="fb-root"></div>
        <script type="text/javascript" charset="utf-8">
        	AApp = {"basePath": "{{pagevars.baseurl}}", "session_token": "{{ parse.sessionToken }}"};
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
        <script src="{{ pagevars.baseurl }}/assets/js/jquery.parse.js"></script>
        <script src="{{ pagevars.baseurl }}/assets/js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-37062132-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>