<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ pagevars.titlebase }}{{ pagevars.title }}</title>
        <meta name="keywords" content="{{ pagevars.keywords }}" />
		    <meta name="description" content="{{ pagevars.description }}" />
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/x-icon" href="{{ pagevars.baseurl }}/assets/images/favicon.ico" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ pagevars.baseurl }}/assets/css/main.css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    </head>
    <body{{ pagevars.secure ? 'class="secure"' }}>
<div class="container">      