#site, #site .main-content {
  overflow: inherit;
}
#videos article a.permalink {
  display:block;
}

#videos article img {
  border:4px solid #000;
  width:95%;
}

.modal-dialog-content {

}
.post .post-notes ol {
  display:block;
  float:right;
  margin-left:15px;
  margin-top:0px;
  width:auto;
}
.post .post-player {
 overflow:hidden; 
}

.product-image {
  display:block;
  width:265px;
}
.product-image span {
  display:block;
  width:100%;
  height:135px;
  overflow:hidden;
  margin-bottom:5px;
  position:relative;
}
.product-image span img {
  position:absolute;
  top:-105px;
}
p.meta * {
  text-indent:-99999em;
  display:block;
  background:none;
}
p.meta *:hover {
  background:none;
}
#sidebar-info-text {
  cursor:pointer;
  text-align:center;
}
.ig_imgs {
  display:block;
  width:95%;
  border: 4px solid #000000;
  margin-top:10px;
}
.ig_imgs:first-child {
  margin:0;
}

body {
  background:url("http://cdn2.yoox.biz/Os/armanigroup/giorgioarmani/images/fol2/bg-fol2.jpg") repeat scroll center top #FFFFFF
}
#sidebar aside.first {
  border-top: 2px solid #000000;
  margin-top: 2px;
  overflow: hidden;
}
#header a {
  background:url(http://res.cloudinary.com/armani/image/upload/v1372322018/armani_frames-of-you_tumblr-header-950_e7wbms.png) top left no-repeat;
  text-indent:-99999em;
  display:block;
  width:950px;
  height:136px;
  margin-top:50px;
}