SetEnv APPENV local
SetEnv APPCACHE false

RewriteEngine on
#RewriteBase /Library/WebServer/Documents/2013/static/pages/armani_jeans-antwerpen/
#RewriteBase /
RewriteCond %{REQUEST_URI} ^/cache/images/
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule (.*) /generate.php?$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?q=$1